@import '../../styles/responsive.scss';

.header{
    margin-top: 20px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #121212;
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include phone{
            flex-direction: column;
        }

    }

    .logo{
        width: 90px;
        height: 60px;
        cursor: pointer;
        
        @include phone{
            margin-bottom: 10px;
        }

        img{
            width: 100%;
            height: 100%;
        }
    }

    .search-field{
        display: flex;
        position: relative;


        @include phone{
            width: 300px;
            margin-right: 9px;
         }

        input{
            outline: none;
            border: 1px solid #fff;
            border-radius: 10px;
            width: 525px;
            height: 1.8em;
            padding-left: 45px;
            font-size: 1.4em;

            @include phone{
               width: 300px;
               
            }

            &::placeholder{ 
                font-size: .8em ;
                opacity: .5;
            }

            &:focus{
                background-color: #e7e1e1;
            }
        }

        .search-btn{
            outline: none;
            border: none;
            background-color: transparent;
            position: absolute;
            cursor: pointer;
            top: 8px;
            left: 13px;
            font-size: 1.6em;
        }

        .close-btn{
            position: absolute;
            right: 11px;
            top: 11px;
            font-size: 1.3em;
            cursor: pointer;
            border: none;
            background-color: transparent;
        }       
    }

    .login-btn{
        @include phone{
            display: none;
        }

        > button{
            background-color: #c290fc;
            padding: .7em 2em;
            border: 1px solid #fff;
            border-radius: 7px;
            cursor: pointer;
            font-weight: 700;
            letter-spacing: 1.4px;
        }
    }   
}